/* 
    Mes couleurs
    bleu-vert : #2A4E5C;
    bleu-claire : #DFF7FF;
    bleu-fonce : #116B8E;
    blanc-casse : #F7F4EF;
    brun : #874705,

    Mes fonts :

@font-face {
  font-family: "titrage";
  src: url("../font/Poppins-Thin.ttf");
  font\BRLNSB.ttf
  font\BRLNSDB.ttf
  font\BRLNSR.ttf
}

@font-face {
  font-family: "main";
  src: url("../font/Poppins-Regular.ttf");
}

* {
  font-family: "main";
}

} */

@font-face {
  font-family: "titrage";
  src: url("/font/BRLNSDB.ttf");
  
}


.logo {
  max-width: 5%;

}

.cardheader {
  height: 220px;
  
}

.cardheader img {
  max-width: 100%;
  height: 170px;
  text-align: center;
  
}
.t-25{
  width: 38%;
  text-align: center;
 
}

.sizeboxserv{
  width: 30%;
}

.t-img-s {
  min-width: 100%; /* image s'adapte à son conteneur */
  height: auto; /* conserver les proportions */
}
.width-car {
  max-width: 65vw;
}


/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1200px) {
  .width-car {
    max-width: 100vw;
  }
  
  .t-25 {
    width: 55%;
      background-color: red;

  }

  .inv {
    display: none;
  }

  .sizeboxserv{
    width: 25%;
  }
 
  .logo {
    width: 12%;
    
  }
  .card {
    width: 100%;
    align-self: stretch !important;
   
  }

  .tcard {
    width: 100%;
    align-self: stretch !important;
  }
  
  .cardheader img {
    max-width: 100%;
    height: 190px;
  }
}

@media all and (min-width: 760px) and (max-width: 1200px) {
  .width-car {
    max-width: 100vw;
    

  }
  .t-25{
    width: 55%;
    background-color:rgba(237, 219, 195, 0.327);
  }

  

  .tcard {
    width: 40%;
    align-self: stretch !important;
    background-color:rgb(43, 128, 226);
  }
} 


@media screen and (max-width: 600px) {
 
}