/* 
    Mes couleurs
    bleu-vert : #2A4E5C;
    bleu-claire : #DFF7FF;
    bleu-fonce : #116B8E;
    blanc-casse : #F7F4EF;
    brun : #874705,

    Mes fonts :

@font-face {
  font-family: "titrage";
  src: url("../font/Poppins-Thin.ttf");
  font\BRLNSB.ttf
  font\BRLNSDB.ttf
  font\BRLNSR.ttf
}

@font-face {
  font-family: "main";
  src: url("../font/Poppins-Regular.ttf");
}

* {
  font-family: "main";
}

} */

.titre_du_h1 {
  font-size: 4em;
}
.logo {
  max-width: 5%;
}

.cardheader {
  height: 220px;
}

.cardheader img {
  max-width: 100%;
  height: 170px;
  text-align: center;
}
/* carte taille mes travaux */
.t-25 {
  width: 38%;
  text-align: center;
  background-color: rgba(238, 186, 147, 0.193);
}

a {
  font-family: "titrage";
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1200px) {
  /* carte taille mes travaux */
  .t-25 {
    width: 100%;
    background-color: rgba(195, 237, 210, 0.327);
  }
  /* texte bonjour je m'app sur 3 en 1 ligne */
  .inv {
    display: none;
  }

  .logo {
    width: 12%;
  }
  /* agit sur mes travaux et mes compétences */
  .card {
    width: 100%;
    align-self: stretch !important;
    /* background-color: rgb(4, 100, 255) */
  }

  /* taille des card dans le slider */
  .cardheader img {
    max-width: 100%;
    height: 190px;
  }
}

@media all and (min-width: 760px) and (max-width: 1200px) {
  /* carte taille mes travaux */
  .t-25 {
    width: 55%;
    background-color: rgba(238, 197, 182, 0.247);
  }

  .tcard {
    width: 40%;
    align-self: stretch !important;
    background-color: rgb(43, 128, 226);
  }

  
}

@media screen and (max-width: 430px) {
}
