//variables
$bleu-vert: #2a4e5c;
$bleu-claire: #dff7ff;
$bleu-fonce: #116b8e;
$brun: #874705;
$beige: #f7f4ef;

$light: $beige !default;
$primary: $bleu-vert !default;
$danger: $brun !default;

h1,
h4,
h3,
h2 {
  font-family: "titrage";
  font-size: 1em;
  color: $bleu-vert;
}

a {
  font-family: "titrage";
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
